# Игнорируем кэшированные файлы Python
__pycache__/
*.pyc

# Игнорируем настройки IDE
.vscode/
.idea/

# Логи и временные файлы
*.log
*.bak
*.tmp

# Игнорируем виртуальные окружения (если есть)
venv/
env/

# Прочие временные и скрытые файлы
*.swp
*.swo